################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TechMeet_Graphql
.vs/ProjectEvaluation

/Demo1/bin
/Demo1/obj
/Demo2/bin
/Demo2/obj
/Demo3/bin
/Demo3/obj
